*{
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30%;
    height: 70vh;
    background-color: white;
    margin: 5vh auto;
    padding: 4vh;
    box-shadow: 5px 5px 50px 8px #314180;
    border: #fff;
    border-radius: 30px;
}
form {
    display: flex;
    flex-direction: column;
}
input[type=email], input[type=password], input[type=text] {
    width: 100%;
    padding: 9px 20px;
    margin: 6px 0;
    display: inline-block;
    border: 1px solid #314180;
    box-sizing: border-box;
}

#phone{
    width: 100%;
    padding: 9px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
button {
    background-color: #314180;
    color: white;
    padding: 11px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
button:hover {
    background-color: #fff;
    color: #314180;
    border: #314180 solid 3px;
}
h3 {
    text-align: center;
    color: #314180;
}


.error{
    display: none;
    color: rgb(156, 0, 0);
    font-size: 8px;
    margin-top: -4px;
}


@media screen and (max-width: 960px) {
    .container {
        width: 93%;
    }
  }

@media screen and (max-width: 600px) {
    .container {
        width: 100%;
    }
  }